.next/
node_modules/next/dist/server/capsize-font-metrics.json
node_modules/next/dist/compiled/next-server/app-page-experimental.runtime.dev.js.map
node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js.map
node_modules/next/dist/compiled/next-server/app-page.runtime.dev.js.map
node_modules/next/dist/compiled/next-server/app-page-experimental.runtime.prod.js.map
node_modules/next/dist/compiled/next-server/app-page-turbo-experimental.runtime.prod.js.map
node_modules/next/dist/compiled/next-server/app-page-turbo.runtime.prod.js.map
node_modules/next/dist/compiled/webpack/bundle5.js
node_modules/next/dist/compiled/amphtml-validator/validator_wasm.js
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/_tsc.js
node_modules/@img/sharp-libvips-darwin-arm64/lib/libvips-cpp.42.dylib
node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node
node_modules/@unrs/resolver-binding-darwin-arm64/resolver.darwin-arm64.node